{% extends 'bjj_app/base.html' %}
{% load static %}

{% block content %}


    <h1>Бразильське джиу джитсу в місті Дніпро</h1>

    <div class="about-text">

        <p>
            Yamasaki Academy Jiu Jitsu Dnipro є представництвом міжнародної школи вивчення бразильського джиу-джитсу.
            <br>
            <br>
            В даний час академія Ямасакі має кілька шкіл джиу-джитсу і філій академій єдиноборств у Сполучених Штатах, Бразилії, Домініканській Республіці, Іспанії, Швеції та Україні.
            <br>
            <br>
            Yamasaki Academy є одним з провідних клубів бразильського джиу-джитсу в світі. Заснована у 1981 році, Yamasaki Academy виховала багато відомих чемпіонів у світі бойових мистецтв.
            Клуби Yamasaki Academy працюють за певним підходом до тренувань, який включає в себе розвиток фізичної та ментальної сили, техніки бойового мистецтва, спаринги та інші елементи.
            <br>
            <br>
            Yamasaki Academy має офіційний статус члена міжнародних федерацій бразильського джиу-джитсу IBJJF, AJP та української федерації UFBJJ.
            <br>
            <br>
            Основними цілями нашої академії є розвиток та популяризація бразильського джиу-джитсу в Україні, всебічне вивчення всіх аспектів даного бойового мистецтва, а також популяризація здорового способу життя серед молоді та дорослих.
            <br>
            <br>
            Бразильський джиу-джитсу - це високоінтенсивний вид спорту, який допомагає розвивати фізичну та ментальну витривалість, впевненість та самодисципліну. Якщо ви цікавитеся бразильським джиу-джитсу, то Yamasaki Academy може бути одним з варіантів для початку тренувань.
        </p>

        <p>Місто Дніпро - це динамічний центр України, де здоровий спосіб життя, фізична активність та здоров'я стають дедалі більш важливими. Бразильське джиу-джитсу, або просто джиу-джитсу є прекрасним варіантом для тих, хто прагне розвивати своє тіло та розум, покращити самодисципліну та вміння працювати в команді. Інструктори Yamasaki academy Dnipro з багаторічним досвідом допоможуть вам зануритися в атмосферу BJJ та досягти нових висот у своєму розвитку.</p>

        <h2>Що таке бразильське джиу-джитсу?</h2>

        <p>Бразильське джиу-джитсу (BJJ) - це захоплююче бойове мистецтво та спорт, який зародився в Бразилії і швидко набув популярності по всьому світу. Головною характеристикою BJJ є акцент на техніці боротьби на землі&nbsp;та різноманітних захватах, що дозволяє здолати супротивника, навіть якщо він фізично більший або сильніший. Це робить джиу-джитсу ефективним засобом самооборони та прекрасною фізичною активністю для всіх вікових груп.</p>

        <p>Якщо ви шукаєте місце, де можна займатися бразильським джиу-джитсу в місті Дніпро, раджу звернутися до нашої академії, де вам запропонують найкращий варіант&nbsp;занять з джиу-джитсу. Також, можливо, є спеціалізовані клуби або школи, які спеціалізуються на цьому виді бойових мистецтв.</p>

        <h2>Переваги тренувань BJJ</h2>

        <ol>
            <li><strong>Збільшення фізичної активності.</strong> Тренування BJJ вимагає активного застосування всього тіла. Постійні рухи, боротьба на підлозі та в стійці покращать вашу фізичну форму, збільшать витривалість та допоможуть контролювати вагу.</li>
            <li><strong>Розвиток самодисципліни.</strong> BJJ - це спорт, що вимагає терпіння, старанності та наполегливості. Постійні тренування допоможуть вам відкрити в собі нові можливості та виробити в собі самодисципліну, яка стане вам у пригоді не лише на татамі, але і в повсякденному житті.</li>
            <li><strong>Покращення навичок самооборони.</strong> Джиу-джитсу надає ефективних навичок самооборони, які можуть врятувати ваше життя у критичний момент. Ви навчитеся уникати конфліктних ситуацій та брати супротивника під контроль, забезпечивши безпеку для себе та своїх близьких.</li>
        </ol>

        <h2>Що вам буде потрібно для тренувань</h2>

        <ul>
            <li><strong>Визначте свої мету та цілі. </strong>Перш за все, важливо визначити вашу мету та цілі. Питання, яке ви повинні задати собі: "Чому я хочу займатися BJJ?" Це може бути для покращення фізичної форми, набуття навичок самозахисту, участь у змаганнях або навіть для духовного зростання. Коли ви зрозумієте свої мотиви, ми запропонуємо вам програму тренувань, яка відповідатиме вашим потребам.</li>
            <li><strong>Екіпіровка для тренувань.</strong> Для початку вам достатньо прийти у форматі No Gi — штани, шорти та рашгард. Прослідкуйте аби на вашому одязі не було об’ємних застібок, блискавок, кишень та інших елементів, за які можна зачепитись чи поранитись. Також необхідно буде зняти усі прикраси. У кращому випадку ви ризикуєте їх зламати. У гіршому — травмувати себе або противника/партнера. Надалі вам знадобиться спеціалізоване екіпірування:&nbsp;</li>
        </ul>

        <ol>
            <li>Kimono / Gi (гі) — куртка, штани, пояс кольору вашого рівня (початковий рівень – білий пояс). Також можна надягнути рашгард під куртку. Для жінок рашгард обов’язковий.&nbsp;</li>
            <li>Sem Kimono / No Gi (без гі) — шорти, щільно обтягуючі штани та рашгард &nbsp;(“rash guard” – футболка зі спеціального матеріалу, що захищає від поту; може бути як з довгим, так і з коротким рукавом)</li>
        </ol>

        <ul>
            <li><strong>Спробуйте пробний урок.</strong> Наша школа BJJ пропонує безкоштовний пробний урок. Скористайтесь цією можливістю, щоб перевірити атмосферу, познайомитися з інструкторами та іншими студентами. Пробний урок допоможе вам зробити осмислене рішення про початок тренувань з джиу-джитсу.</li>
        </ul>

    </div>

<div class="about-logo">
    <img src="{% static 'bjj_app/images/fone1.png' %}" style="max-height: 100%; height: auto;">
</div>

{% endblock %}