{% extends 'bjj_app/base.html' %}
{% load static %}

{% block content %}
  <h2>Коментувати</h2>

    <div class="page-add">
      <form method="post">
        {% csrf_token %}
        <div>
          {{ form.content }}
        </div>

        <div class="button-pad">
          <button type="submit" class="add-comment2">Коментувати</button>
        </div>
          
        <div>
          <div class="read-all-add">
          <a href="{{ request.META.HTTP_REFERER|default:'/' }}">&laquo; Повернутися назад</a>
          </div>
        </div>

      </form>
    </div>

    <div class="about-logo">
      <img src="{% static 'bjj_app/images/fone1.png' %}" style="max-height: 100%; height: auto;">
    </div>

{% endblock %}



