<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <link type="text/css" href="{% static 'bjj_app/css/styles.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'bjj_app/images/main.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Yamasaki Academy запрошує дорослих та дітей на тренування з бразильського джиу джитсу (BJJ). Ми пропонуємо зручне розташування, розклад та кваліфікованих інструкторів">
    <title>{{title}}</title>
</head>
<body>

    <div id="up-bar">
        <div class="icon">
                <a href="{% url 'index' %}">
                    <img src="{% static 'bjj_app/images/main.ico' %}" width="39px">
                </a>
        </div>


        <ul class="ul-menu">
            {% for m in menu %}
            <li class="li-menu"><a href="{% url m.url_name %}">{{m.title}}</a></li>
            {% endfor %}
        </ul>

        <ul class="ul-menu-right">
            {% if request.user.is_authenticated %}
            <li class="li-menu"> <a href="#">{{user.username}}</a></li>
            <li class="li-menu"><a href="{% url 'logout' %}">Вийти</a></li>
            {% else %}
            <li class="li-menu"><a href="{% url 'register' %}">Реєстрація</a></li>
            <li class="li-menu"><a href="{% url 'login' %}">Увійти</a></li>
            {% endif %}
        </ul>

    </div>

    <div class="fixed-container">
        {% block content %}
        {% endblock %}
    </div>
<br>



</body>
</html>
