{% extends 'bjj_app/base.html' %}
{% load static %}

{% block content %}

  <h1>Контакти тренерів</h1>
<div class="contact-trainer">
    {% for n in trainer %}
    <div class="photo-container-contact">

        {% if n.photo %}
        <div class="adapt-news">
          <img src="{{ n.photo.url }}" alt="{{ n.full_name }} full_name" class="photo-info">
        </div>
        {% endif %}

        <div class="mob-adapt">
          <div class="trainer-name">{{ n.full_name }}</div>
          <div class="trainer-info">{{ n.information|linebreaks }}</div>
          <div class="trainer-phone"><b>Контактний телефон:</b> {{ n.contact_phone }}</div>
        </div>
    </div>
    {% endfor %}
  </div>

  <br>

    <div class="adress-info">
        <b>Адреса:</b> м. Дніпро, вулиця Тимчасова, 2А
    </div>

    <br>

    <div class="soc-net">
      Соціальні мережі:
    </div>

    <div class="all-soc">
      <div class="soc-inline">
        <a href="https://www.facebook.com/BrazilianJiuJitsuDnepr/" target="_blank">
          <img src="{% static 'bjj_app/images/fb.png' %}" width="35px" height="35px" alt="facebook">
        </a>
      </div>

      <div class="soc-inline">
        <a href="https://www.instagram.com/bjj_dnipro/" target="_blank">
          <img src="{% static 'bjj_app/images/instagram.png' %}" width="35px" height="35px" alt="instagram">
        </a>
      </div>

      <div class="soc-inline">
        <a href="https://www.instagram.com/bjj_kids_dnipro/" target="_blank">
          <img src="{% static 'bjj_app/images/instagram.png' %}" width="35px" height="35px" alt="instagram">
        </a>
      </div>

      <div class="soc-inline">
        <a href="https://www.youtube.com/@user-dm4bx3gv8l" target="_blank">
          <img src="{% static 'bjj_app/images/yt.png' %}" width="35px" height="35px" alt="youtube">
        </a>
      </div>
    </div>


  <div class="map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10574.050790386085!2d35.0732751!3d48.5042356!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe393edb25bcb%3A0xe91e1f026da0b37e!2sYamasaki%20Academy%20Jiu%20Jitsu!5e0!3m2!1suk!2sua!4v1684345713046!5m2!1suk!2sua"
      class="map-container" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

{% endblock %}