{% extends 'bjj_app/base.html' %}

{% block content %}

<h1>Новини Yamasaki academy Dnipro</h1>

{% for n in post %}
<div>
    {% if n.photo %}

        <h2>{{ n.title }}</h2>

        <div class="adapt-news">
            <img src="{{ n.photo.url }}" alt="{{ n.title }} photo" class="photo-info">
        </div>

    {% endif %}

        <div class="adapt-news">
            <p>{{ n.content|truncatechars_html:150|linebreaksbr }}</p>
            
            <div>
                <div class="read-all">
                    <a href="{% url 'post_detail' post_slug=n.slug %}">Читати повністю</a>
                </div>

                <div class="add-comment">
                     {% if user.is_authenticated %}
                    <a href="{% url 'add_comment' news_id=n.id %}">Додати коментар</a>
                    {% else %}
                    <a href="{% url 'login' %}" title="Щоб залишати коментарі, необхідна авторизація">Авторизуйтесь</a>
                    {% endif %}
                </div>
            </div>

                <div style="clear: both;"></div>

            <div class="comment-border">
            {% if n.comments.exists %}

                {% for c in n.comments.all %}
                <div class="li-comment">
                    {{ c.content|linebreaksbr|truncatechars_html:20 }}
                    <div>   
                        {% if request.user == c.author %}
                        <div class="delete-comment">
                            <a href="{% url 'delete_comment' comment_id=c.id %}">Видалити</a>
                        </div>
                        {% endif %}                  
                        <div class="author-comment">
                            {{ c.author.username }} - {{ c.date }}
                        </div>
                    </div>       
                </div>
                <br>
                {% endfor %}

            {% endif %}
            </div>
</div>
<hr>
{% endfor %}

<div>
    {% include 'bjj_app/paginator.html' %}
</div>

{% endblock %}
