{% extends 'bjj_app/base.html' %}
{% load static %}

{% block content %}

    <h1>{{ title }}</h1>

    <div class="table-position">

        <h1>
            Сторінка не існує
            <br>
            Перейти на <a href="{% url 'index' %}">головну</a>
        </h1>


    </div>


<div style="width: 100%; height: 100%; border: #444444; display: flex; justify-content: center; align-items: center; margin-top: 150px; margin-bottom: 250px;">
    <img src="{% static 'bjj_app/images/fone1.png' %}" style="max-height: 100%; height: auto;">
</div>
{% endblock %}
