{% extends 'bjj_app/base.html' %}

{% block title %} Password Reset {% endblock title%}

{% load static %}

{% block content %}

<h1>{{ title }}</h1>

<div class="table-position">
    {% if validlink %}

<!--
            {% if form.errors %}

                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
                    <button type="button" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

            {% endif %}
            
-->
            <form method="post">
                {% csrf_token %}

                <div class="form-error">{{ form.non_field_errors }}</div>
                
                <p>
                    <label class="form-label" for="id_new_password1">Новий пароль</label>
                    <input type="password" name="new_password1" autocomplete="new-password"
                     required id="id_new_password1" placeholder="Enter password" class="label-pos"/>
                </p>

                <p>
                    <label class="form-label" for="id_new_password2">Новий пароль повторно</label>
                    <input type="password" name="new_password2" autocomplete="new-password"
                    required id="id_new_password2" placeholder="Confirm password"/>
                </p>

                <button type="submit" id="reset">Змінити пароль</button>

            </form>

        </div>

    {% else %}

        <div>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </div>

    {% endif %}



{% endblock %}