{% extends 'bjj_app/base.html' %}
{% load static %}

{% block content %}

    <h1>Розклад тренувань</h1>

    <div class="schedule-logo">
        <img src="{% static 'bjj_app/images/logo3.png' %}" style="width: 40%; height: 40%;  display: flex; justify-content: center; align-items: center;">
    </div>

    <br>

    <h2>Доросла група</h2>

    <div class="table-position">
    <table>
      <thead class="table-dark">
        <tr>
          <th>День тижня</th>
          <th>Початок заняття</th>
          <th>Кінець заняття</th>
          <th>Формат</th>
          <th>Тренер</th>
        </tr>
      </thead>
      <tbody>
        {% for item in schedule %}
        {% if item.group == 'Adult' %}
          <tr>
            <td>{{ item.get_weekday_display }}</td>
            <td>{{ item.start_time|time:"H:i" }}</td>
            <td>{{ item.end_time|time:"H:i" }}</td>
            <td>{{ item.forma }}</td>
            <td>{{ item.trainer.full_name }}</td>
          </tr>
        {% endif %}
        {% empty %}
          <tr>
            <td>Тренування відсутні</td>
          </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>

  <br>

    <h2>Дитяча група</h2>

    <div class="table-position">
    <table>
      <thead>
        <tr>
          <th>День тижня</th>
          <th>Початок заняття</th>
          <th>Кінець заняття</th>
          <th>Формат</th>
          <th>Тренер</th>
        </tr>
      </thead>
      <tbody>
        {% for item in schedule %}
        {% if item.group == 'Kids' %}
          <tr>
            <td>{{ item.get_weekday_display }}</td>
            <td>{{ item.start_time|time:"H:i" }}</td>
            <td>{{ item.end_time|time:"H:i" }}</td>
            <td>{{ item.forma }}</td>
            <td>{{ item.trainer.full_name }}</td>
          </tr>
        {% endif %}
        {% empty %}
          <tr>
            <td>Тренування відсутні</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <br>

    <h2>ММА та Бойове самбо</h2>

    <div class="table-position">
    <table>
      <thead>
        <tr>
          <th>День тижня</th>
          <th>Початок заняття</th>
          <th>Кінець заняття</th>
          <th>Формат</th>
          <th>Тренер</th>
        </tr>
      </thead>
      <tbody>
        {% for item in schedule %}
        {% if item.group == 'MMA' %}
          <tr>
            <td>{{ item.get_weekday_display }}</td>
            <td>{{ item.start_time|time:"H:i" }}</td>
            <td>{{ item.end_time|time:"H:i" }}</td>
            <td>{{ item.forma }}</td>
            <td>{{ item.trainer.full_name }}</td>
          </tr>
        {% endif %}
        {% empty %}
          <tr>
            <td>Тренування відсутні</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <br>

{% endblock %}
